﻿@using DemoClient.Models
@{
    ViewBag.Title = "Index";

    LOAIPHONG l = ViewBag.loaiphong;
}

<h2>Index</h2>
@using (Html.BeginForm("ThucHienSua", "Sua", FormMethod.Post))
{
    <input type="hidden" name="txtMaLoaiPhong" value="@l.MaLoaiPhong" />
    <span>Số người lớn tối đa:</span>
    <input type="number" name="txtSoNguoiLon" value="@l.SoNguoiLonToiDa" /><br />
    <span>Số trẻ em tối đa:</span>
    <input type="number" name="txtSoTreEm" value="@l.SoTreEmToiDa" /><br />
    <span>Số lượng phòng:</span>
    <input type="number" name="txtSoLuongPhong" value="@l.SoLuongPhong" /><br />
    <span>Giá phòng:</span>
    <input type="number" name="txtGiaPhong" value="@l.GiaPhong" /><br /><br />

    <input type="submit" name="btnSuaLoaiPhong" value="Sửa" />
}