﻿@using DemoClient.Models;
@{
    ViewBag.Title = "Index";

    var loaiphongs = ViewBag.loaiphong;
    
    
    
    
}

<h2>Thêm loại phòng mới</h2>

@using(Html.BeginForm("Them", "Home", FormMethod.Post)) 
{
    <span>Số người lớn tối đa:</span>
    <input type="number" name="txtSoNguoiLon" value="" /><br/>
    <span>Số trẻ em tối đa:</span>
    <input type="number" name="txtSoTreEm" value="" /><br />
    <span>Số lượng phòng:</span>
    <input type="number" name="txtSoLuongPhong" value="" /><br />
    <span>Giá phòng:</span>
    <input type="number" name="txtGiaPhong" value="" /><br /><br/>

    <input type="submit" name="btnThemLoaiPhong" value="Thêm" />
}

<h2>Danh sách loại phòng</h2>

@foreach (LOAIPHONG l in loaiphongs)
{
    <p>
        Mã loại phòng: @l.MaLoaiPhong<br/>
        Số phòng: @l.SoLuongPhong<br/>
        Giá phòng: @l.GiaPhong<br/>
        @Html.ActionLink("Xoá", "Xoa/" + l.MaLoaiPhong, "Home") 
        @Html.ActionLink("Sửa", "Sua/" + l.MaLoaiPhong, "Sua")
        <hr />
        <br/><br/>
    </p>
}
