<div class="detail-item">
	<a class="cover-img">
        <img src="<%= user.image.Link %>" alt="<%= user.image.Content %>" /><br/><br/>
        <%= user.image.Content %>
    </a>
	<div class="status">
        <%
        var loved = '';
        if(user.image.IsLiked)
        {
            loved = 'loved';
        }
        %>
        <div id="btnLike" data-status="<%= loved %>" class="love <%= loved %>"><span class="like-count"><%= user.image.LikeCount %></span></div>
	</div>
    <% if(user.isLogin) { %>

    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#<%= user.userInfo.Username %>">
                <img class="media-object" src="<%= user.userInfo.Avatar %>" alt="<%= user.userInfo.Name %>">
            </a>
            <form class="media-body" id="frmComment" role="form">
                <h4 class="media-heading"><a href="#<%= user.userInfo.Username %>" title="<%= user.userInfo.Name %>"><%= user.userInfo.Name %></a></h4>
                <input type="hidden" name="hidImageId" id="hidImageId" value=" <%= user.postid %>" />
                <textarea name="txtComment" id="txtComment" class="form-control" rows="3" placeholder="Write a comment..."></textarea>
                <button type="button" id="btnSubmitComment" class="btn btn-default btn-cm">Post comment</button>
            </form>
        </li>
    </ul>

    <% } %>
    <ul class="media-list">
        <% _.each(user.comments, function(item) { %>
        <li class="media">
            <a class="pull-left" href="#<%= item.User.Username %>">
                <img class="media-object" src="<%= item.User.Avatar %>" alt="<%= item.User.Name %>">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a href="#<%= item.User.Username %>" title="<%= item.User.Name %>"><%= item.User.Name %></a></h4>
                <%= item.Content %>
            </div>
        </li>
        <% }); %>
    </ul>
</div>