﻿<%  _.each(user.userImages, function(img) { %>
    <div class="item" title="<%= img.Content %>">
        <a href="#<%= user.username %>/post/<%= img.Id %>" class="cover-img">
            <img src="<%= img.Link %>" />
        </a>
        <div class="status">

            <%
            var loved = '';
            if(img.IsLiked)
            {
                loved = 'loved';
            }
            %>

            <div class="love <%= loved %>"><span class="like-count"><%= img.LikeCount %></span></div>

        </div>
    </div>
<% }); %>
