﻿<div class="panel panel-default login-form">
	<div class="panel-heading">Login</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" id="login-form">
			<div class="form-group">
				<label for="txtLoginUsername" class="col-sm-3 control-label">Username:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="txtLoginUsername" id="txtLoginUsername" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="txtLoginPassword" class="col-sm-3 control-label">Password:</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" name="txtLoginPassword" id="txtLoginPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button  class="btn btn-default" id="btn-signin">Sign in</button> &nbsp;
					<button type="submit" class="btn btn-primary" id="btn-signin-facebook">Sign in as Facebook</button>
				</div>
			</div>
		</form>
	</div>
</div>