﻿<!--<a class="cover-profile"><img src="img/sample/cover.jpg" /></a>-->
<a class="avatar" ><img src="<%= user.userInfo.Avatar %>" /></a>

<div class="profile-info">
	<h1 class="username"><a href="#<%= user.userInfo.Username %>/posts"><%= user.userInfo.Name %></a></h1>
	<p class="bio"><%= user.userInfo.About %></p>
				
	<ul class="control">
		<li><a href="#<%= user.userInfo.Username %>/upload" class="btn-add"><span class="glyphicon glyphicon-camera"></span></a></li>
					
		<li><a href="#<%= user.userInfo.Username %>/setting" class="btn-setting"><span class="glyphicon glyphicon-cog"></span></a></li>
		<li><a href="#logout" class="btn-logout" id="btn-logout"><span class="glyphicon glyphicon-share"></span></a></li>
	</ul>

	<div class="status">
		<div class="btn-group-vertical">
			<!-- <button type="button" class="btn btn-danger btn-followers" ><span class="glyphicon glyphicon-flash"></span>Notifications <span class="badge">2</span></button> -->
			<button type="button" class="btn btn-primary btn-followers" ><span class="glyphicon glyphicon-user"></span>Followers <span class="badge"><%= user.followersCount %></span></button>

            <ul class="followlist">
                <%  _.each(user.followers, function(item) { %>
                <li class="followlist-item">
                    <a href="#" title="<%= item.Name %>">
                        <%= item.Name %>
                    </a>
                </li>
                <% }); %>
            </ul>

			<button type="button" class="btn btn-success btn-following" ><span class="glyphicon glyphicon-check"></span>Following <span class="badge"><%= user.followingsCount %></span></button>
            <ul class="followlist">
                <%  _.each(user.followings, function(item) { %>
                <li class="followlist-item followlist-item-following">
                    <a href="#" title="<%= item.Name %>">
                        <%= item.Name %>
                    </a>
                </li>
                <% }); %>
            </ul>

			<!-- <button type="button" class="btn btn-warning btn-follow"><span class="glyphicon glyphicon-bookmark"></span>Follow</button> -->
			<!-- <button type="button" class="btn btn-danger btn-unfollow"><span class="glyphicon glyphicon-remove"></span>Unfollow</button> -->
            <a id="btnRSS" target="_blank" href="http://www.pixie.somee.com/api/RSS/LayDanhSachAnhMoiNhat?limit=10" class="btn btn-warning btn-following"><span class="glyphicon glyphicon-remove" style="visibility:hidden"></span>RSS</a>

		</div>
	</div>
</div>