<div class="nav-option">
	<ul class="nav nav-pills nav-stacked">
		<li><a >Profile</a></li>
	</ul>
</div>
<div class="content-option">
		<form class="form-horizontal" role="form">
			<div class="page-header">
				<h1>Biography</h1>
				
				<div class="form-group">
					<label for="txtName" class="col-sm-2 control-label">Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="txtName" name="txtAboutMe" placeholder="Full name" value="<%= Name %>">
					</div>
				</div>

				<div class="form-group">
					<label for="txtAboutMe" class="col-sm-2 control-label">About me:</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="3" placeholder="About me" name="txtAboutMe" id="txtAboutMe"><%= About %></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-default" id="btnSaveInfo">Save</button>
					</div>
				</div>
			</div>

			<div class="page-header">
				<h1>Change password</h1>
				<div class="form-group">
					<label for="txtPassword" class="col-sm-2 control-label">Password:</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<label for="txtConfirmPassword" class="col-sm-2 control-label">Confirm:</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" placeholder="Confirm Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-default">Change password</button>
					</div>
				</div>
			</div>
		</form>
	
</div>