<div class="panel panel-default login-form signup-form">
	<div class="panel-heading">Register</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" id="signup-form">
			<div class="form-group">
				<label for="txtSignupUsername" class="col-sm-3 control-label">Username:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="txtSignupUsername" id="txtSignupUsername" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="txtSignupPassword" class="col-sm-3 control-label">Password:</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" name="txtSignupPassword" id="txtSignupPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="txtSignupConfirmPassword" class="col-sm-3 control-label">Comfirm:</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" name="txtSignupConfirmPassword" id="txtSignupConfirmPassword" placeholder="Confirm Password">
				</div>
			</div>
			
			<div class="form-group">
				<label for="txtSignupName" class="col-sm-3 control-label">Full name:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="txtSignupName" id="txtSignupName" placeholder="Full name">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<input type="hidden" name="txtSignupFacebookId" id="txtSignupFacebookId">
					<button type="submit" class="btn btn-default" id="btn-signup">Sign up</button>&nbsp;
					<button type="submit" class="btn btn-primary" id="btn-signup-facebook">Connect Facebook</button>
				</div>
			</div>
		</form>
	</div>
</div>