<div class="detail-item">
	<div class="upload-img" id="upload-img">

	</div>
	
	<br />
	<div class="media-body">
		<textarea class="form-control" id="txtPost" rows="3" placeholder="Write a comment..."></textarea>
		<button class="btn btn-default btn-cm" id="btnPostImage">Post image</button>
	</div>
</div>