* {
	margin: 0;
	padding: 0;
	font-family: "segoe UI", Arial, sans-serif;
}

body, html{
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) top repeat;
}

#app {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#container {
	width: 960px;
	height: auto;
	min-height: 100%;
	overflow: hidden;

	margin: 0px auto;
	padding: 20px;
}

/*
 * Welcome
 */
.welcome {
	width: 600px;
	height: 150px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
/*
 * Login
 */
.login-form {
	width: 395px;
	height: 240px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
	border: 0px;

	position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    
	margin: auto !important;
}

.login-form .panel-heading {
	text-align: center;
	font-size: 30px;
}

.signup-form {
	height: 338px;
}
/*
 * Profile
 */

#profile {
	width: 220px;
	height: auto;
	background: white;
	float: right;
    margin-top: 50px;

	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);

    right: 0;
    position: fixed;
    margin: 10px 150px 0 0;
}

.cover-profile {
	display: block;
	background: #008EA3;
	width: 100%;
	height: 190px;
	overflow: hidden;
	position: relative;

	z-index: 500;
}

.cover-profile:after{
	content: '';
	background: url(../img/bg_module_shadow.png) no-repeat center top;
	background-size: cover;
	width: 220px;
	height: 100px;
	display:block;
    position:absolute;
}
.cover-profile img {
	width: 100%;
	height: auto;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
	width: 120px;
	height: 120px;
	background: #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
	position: relative;
	z-index: 550;

	overflow: hidden;
	border: 0;
}
.avatar img {
	width: 100%;
	height: auto;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
.bio {
	padding: 10px;
	text-align: justify;
	font-size: 11px;
	margin: 0px;
}

.btn .glyphicon {
	margin-right: 10px;
	float: left;
}
.badge {
	margin-left: 8px;
	float: right;
}
.username{
	text-align: center;
	color: #428bca;
	margin-top: 5px;
	margin-bottom: 5px;
}
.username a {
	font-size: 20px;
}
.follow {
	display: none;
}
.btn-follow {
	margin-right: 20px;
	margin-left: 0px;/*66px;*/
	clear: both;
	outline: none;
	text-align: left !important;
}

.btn-unfollow {
	margin-right: auto;
	margin-left: 60px;
	margin-top: 10px;
	clear: both;
	outline: none;
	text-align: left !important;
}

.btn-followers {
	outline: none;
	text-align: left !important;
}
.btn-following {
	outline: none;
	text-align: left !important;
}

.control {
	list-style: none;
	width: 180px;
	margin:  0px auto;
}
.control li {

}

.control li a {
	display: block;
	width: 40px;
	height: 37px;
	float: left;
	
	opacity: 0.5;
	font-size: 25px;
	margin: 10px;
	text-align: center;
	color: #000;
}
.control li a:hover {
	opacity: 1;
}
.btn-add {
    /* background: black; */
	
}

.btn-setting {
	
}




/*
 * Content
 */

 #content {
	width: 690px;
	height: auto;
	min-height: 500px;
	background: rgba(255, 255, 255, 0.2);
	float: left;
	padding-right: 10px;
	padding-top: 10px;
}

.item {
	width: 31.86%;
	height: 250px;
	background: rgba(255, 255, 255, 1);
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 5px;
	float: left;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}

.item .cover-img {
	display: block;
	width: 100%;
	height: 207px;
	background: #000;

	overflow: hidden;
	position: relative;
}

.item .cover-img img {
	width: 100%;
	height: auto;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.item .status {
	background: #f4f4f4;
	width: 100%;
	height: 28px;
	margin-top: 5px;
	position: relative;
}

.item .love:before {
	content: '';
	background: url(../img/love.png) -3px 0;
	width: 19px;
	height: 17px;
	position:  absolute;
	top: 5px;
	left: 5px;
	opacity: 0.3;
}

.item .love .like-count{
    margin-left: 28px;

    font-size: 14px;
    font-weight: bold;
    opacity: 0.4;
    line-height: 27px;
}

.item .loved:before {
	content: '';
	background: url(../img/love.png) -26px 0px;
	width: 19px;
	height: 17px;
	position:  absolute;
	top: 5px;
	left: 5px;
	opacity: 0.8;
}

.nav-option {
	width: 130px;
	height: 100%;
	margin-left: 10px;
	background: #fff;
	float: left;
}

.content-option {
	width: 540px;
	height: 100%;
	min-height: 500px;
	background: #fff;
	float: right;
	margin-bottom: 10px;
	/* background: #eee; */
	/* box-shadow: 0px 0px 5px; */
	padding: 20px;
}


/*
 * Details
 */
.detail-item {
	width: 670px;
	height: auto;
	background: rgba(255, 255, 255, 1);
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 5px;
	float: left;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}

.detail-item .cover-img {
	display: block;
	width: 100%;
	overflow:hidden;
    color: #000;

	overflow: hidden;
	position: relative;
}
.detail-item .cover-img:hover
{
    text-decoration:none;
}

.detail-item  .cover-img img {
	width: 100%;
	height: auto;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.detail-item  .status {
	background: #f4f4f4;
	width: 100%;
	height: 28px;
	margin-top: 5px;
	position: relative;
}

.detail-item .love:before {
	content: '';
	background: url(../img/love.png) -3px 0;
	width: 19px;
	height: 17px;
	position:  absolute;
	top: 5px;
	left: 5px;
	opacity: 0.3;
}

.detail-item .love .like-count{
    margin-left: 28px;

    font-size: 14px;
    font-weight: bold;
    opacity: 0.4;
    line-height: 27px;
}

.detail-item .loved:before {
	content: '';
	background: url(../img/love.png) -26px 0px;
	width: 19px;
	height: 17px;
	position:  absolute;
	top: 5px;
	left: 5px;
	opacity: 0.8;
}

.detail-item .upload-img {
	display: block;
	width: 100%;
	height: 650px;
	background: #F1F1F1;

	overflow: hidden;
	position: relative;

	border: 4px dashed rgb(185, 185, 185);
}

.detail-item .draghover{
	border: 4px dashed rgb(116, 116, 116);
}


.btn-cm {
	margin-top: 5px;
	float: right;
}


.btn-sub {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	}
.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}
.btn-2:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

.btn-3 {
	background: #3276b1;
	color: #fff;
	box-shadow: 0 6px #285e8e;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-3:hover {
	box-shadow: 0 4px #285e8e;
	top: 2px;
}
.btn-3:active {
	box-shadow: 0 0 #285e8e;
	top: 6px;
}

.followlist
{
    overflow: hidden;
}
.followlist-item
{
    overflow:hidden;
}
.followlist
{
    overflow: hidden;
    margin: 0;
    clear: both;
}
.followlist-item
{
    overflow:hidden;
    padding: 7px 10px 7px 40px;
    border-bottom: 1px dashed rgb(50, 118, 177);

    -webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.followlist-item:hover
{
	background-color: rgb(210, 227, 242);

	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.followlist-item-following:hover
{
	background-color: rgb(202, 232, 202);
}
.followlist-item a
{
	display: block;
	color: #555;
}
.followlist-item a:hover
{
	text-decoration: none;
}